<app-header></app-header>

<div class="container">
  <div class="map-container">
    <!-- Map container with id 'map' -->
    <div id="map" style="height: 400px;"></div>
  </div>

  <div class="shop-list">
    <h3>Our Car Shops</h3>
    <ul>
      <li *ngFor="let shop of shops; let i = index">
        <img [src]="shop.icon" alt="Shop Icon" width="30" height="30"/>
        <span class="shop-name">{{ shop.name }}</span> -
        <span class="shop-address">{{ shop.address }}</span>
      </li>
    </ul>
  </div>
</div>
<app-footer></app-footer>