<div class="service-container" id="service-list">
  <div class="container py-3">
    <h2 class="text-center mb-5">Our Services</h2>

    <!-- Service Items Loop -->
    <div *ngFor="let service of services; let i = index" class="row align-items-center mb-5">

      <!-- Service Image on the left for the first and third items -->
      <div class="col-md-5" *ngIf="i % 2 === 0">
        <div class="service-image">
          <img [src]="service.image" [alt]="service.title" class="img-fluid rounded"
               [ngClass]="{'larger-image': i === 1}" /> <!-- Apply larger image class for second service -->
        </div>
      </div>

      <!-- Service Content on the right for the first and third items -->
      <div class="col-md-5" *ngIf="i % 2 === 0">
        <div class="service-content">
          <h4 class="service-title">{{ service.title }}</h4>
          <p>{{ service.description }}</p>
        </div>
      </div>

      <!-- Content on the left for the second item -->
      <div class="col-md-5" *ngIf="i % 2 !== 0">
        <div class="service-content service-content-right">
          <h4 class="service-title">{{ service.title }}</h4>
          <p>{{ service.description }}</p>
        </div>
      </div>

      <!-- Image on the right for the second item -->
      <div class="col-md-5" *ngIf="i % 2 !== 0">
        <div class="service-image">
          <img [src]="service.image" [alt]="service.title" class="img-fluid rounded"
               [ngClass]="{'larger-image': i === 1}" /> <!-- Apply larger image class for second service -->
        </div>
      </div>

    </div>
  </div>
</div>






<div class="container py-5">
  <h2 class="text-center mb-5">What Our Customers Say</h2>

  <!-- Owl Carousel Container -->
  <div id="customer-carousel" class="owl-carousel owl-theme">
    <!-- Loop through testimonials -->
    <div class="item" *ngFor="let testimonial of testimonials">
      <div class="card">
        <!-- <img [src]="testimonial.image" alt="{{ testimonial.name }}" class="card-img-top"> -->
        <div class="card-body">
          <h5 class="card-title">{{ testimonial.name }}</h5>
          <p class="card-text mt-5">{{ testimonial.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

