<app-admin-header></app-admin-header>
<div class="container mt-4" id="feedback">
  <!-- Page Header -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>User Feedback</h2>
  </div>

  <!-- Feedback Cards -->
  <div class="card-style">
    <div *ngFor="let feedback of feedbackList" class="single-notification">
      <div class="notification">
        <div class="image info-bg" id ="bgimg">
          <span>{{ feedback.user_name.charAt(0) }}</span> <!-- First letter of user -->
        </div>
        <a href="#0" class="content">
          <h6>{{ feedback.user_name }}</h6>
          <p class="text-sm text-gray">{{ feedback.feedback }}</p>
          <span class="text-sm text-medium text-gray">{{ feedback.user_email }}</span>
        </a>
      </div>
      <div class="action">
        <button class="delete-btn" (click)="deleteFeedback(feedback)">
          <i class="lni lni-trash-can"></i>
        </button>
        <button class="more-btn dropdown-toggle" id="moreAction" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="lni lni-more-alt"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction">
          <li class="dropdown-item">
            <a href="#0" class="text-gray">Reply</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end Feedback Cards -->
</div>
