

<app-header></app-header>
<section class="home" id="home">
  <div class="video-contanier">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <video class="d-block w-100" autoplay muted loop>
            <source src="renault_video1.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <div class="carousel-caption d-none d-md-block">
            <h3>Renault Duster: The Adventure Begins Here</h3>
              <h5>
                With bold performance, spacious interiors, and unbeatable reliability, the Renault Duster is built to take on any road, any journey. Ready to explore more?            </h5>
                <br><br><br><br>
          </div>
        </div>
        <div class="carousel-item">
          <video class="d-block w-100" autoplay muted loop>
            <source src="nissan.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <div class="carousel-caption d-none d-md-block">
            <h3>Nissan Magnite: Big on Style, Compact in Size</h3>
            <h5>
              Designed to stand out with bold looks, packed with smart features, and offering a thrilling drive. The Nissan Magnite is the perfect companion for those who crave adventure in a compact package
            </h5>
            <br><br><br><br>
          </div>
        </div>
        <div class="carousel-item">
          <video class="d-block w-100" autoplay muted loop>
            <source src="mits.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <div class="carousel-caption d-none d-md-block">
            <h3>Mitsubishi XForce: Unleash Your Boldness</h3>
            <h5>
              With striking design, powerful performance, and rugged versatility, the Mitsubishi XForce is built to take you beyond the ordinary. Ready for your next big adventure?
            </h5>
            <br><br><br><br>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<!-- <section class="home" id="home">
  <div class="video-container">
    <video class="d-block w-100" autoplay muted loop>
      <source src="renault_video1.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</section> -->

<app-booking></app-booking>
<app-service-list></app-service-list>
<app-testimonial></app-testimonial>
<app-contact></app-contact>
<app-news></app-news>
<app-feedback></app-feedback>
<app-logo></app-logo>

<app-footer></app-footer>

