/* .home {
  padding: 0;
  background-color: #f7f7f7;
  text-align: center;
}

.carousel-item img {
  height: 85vh;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  animation: slideLeft 1s ease-out forwards;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
} */
/* Style the home section */
.home {
  position: relative;
  background-color: black;
  width: 100%;
  height: 100vh; 
  margin: 0; /* Remove any margin that might add white space */
  padding: 0; /* Remove any padding */
  overflow: hidden; /* Hide overflow to ensure the video fits */
}

/* Make the video container responsive and reduce height */
.video-container {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Make the video take up the full height of the home section */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow to ensure the video fills the container */
}


.video-container video {
  object-fit: cover; /* Ensures the video fills the container without distortion */
  width: 100%;
  height: 110%; /* Ensures the video takes up the full height */
  max-width: 100%;
  max-height: 100%;
}

/* Ensure that the next components follow immediately */
app-booking,
app-service-list,
app-contact {
  margin-top: 0; /* Make sure there's no space above the components */
  padding-top: 0; /* Remove any padding that could cause space */
}


.pos{
  position: absolute;
  bottom: 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-size: 23px; */
}
/* 
.vertical-bar{
    left: 270px;
    position: relative;
    top: 38px;
    width: 5px;
    height: 2.6rem;
    background-color: rgb(251, 221, 221);
} */