<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="main">
    <div class="row w-100">
      <div class="col-12 col-sm-5 col-md-5">
        <div class="image">
          <img src="loginimg.jpg" alt="img" width="100%" class="image">
        </div>
      </div>
      <div class="col-12 col-sm-1 col-md-1 d-flex justify-content-center align-items-stretch">
        <div class="vertical-line"></div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 mt-5">
        <div class="card-body mt-4">
          <div class="card-title text-center mb-4">
            <i class="fas fa-sign-in-alt fa-3x" style="color: #8347ad;"></i>
            <h2 class="text-center mb-4">Login</h2>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-field">
              <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
                <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger">
                  <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required</div>
                  <div *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control mt-3" formControlName="password" placeholder="Enter your password" required>
                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">
                  <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required</div>
                </div>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="loginForm.invalid">Submit</button>
            </div>
          </form>
          <div class="text-center mt-3 m-2">
            <p>Don't have an account? <a href="/signup" style="color: #8347ad;">Register</a></p>
            <p><a href="javascript:void(0);" (click)="openPop()" style="color: #8347ad;">Forgot Password?</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isOpen" class="popup-overlay">
  <div class="popup-content">
 
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
      <div>
        <h3 class="mb-4">Reset Password</h3>
      </div>
      <div class="form-group">
        <input type="email" id="email" formControlName="email" placeholder="Enter your email" required />
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)" class="text-danger">
          <!-- <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required.</div> -->
          <!-- <div *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Please enter a valid email address.</div> -->
          <div class="text-danger">{{errorMsg}}</div>
        </div>
      </div>
     
 
      <div class="form-group">
        <input type="password" id="password" formControlName="password" placeholder="Enter your new password" required />
        <div *ngIf="forgotPasswordForm.get('password')?.invalid && (forgotPasswordForm.get('password')?.dirty || forgotPasswordForm.get('password')?.touched)" class="text-danger">
          <!-- <div *ngIf="forgotPasswordForm.get('password')?.hasError('required')">New password is required.</div> -->
        </div>
      </div>
 
      <div class="form-group">
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your new password" required />
        <div *ngIf="forgotPasswordForm.get('confirmPassword')?.invalid && (forgotPasswordForm.get('confirmPassword')?.dirty || forgotPasswordForm.get('confirmPassword')?.touched)" class="text-danger">
          <!-- <div *ngIf="forgotPasswordForm.get('confirmPassword')?.hasError('required')">Please confirm your password.</div> -->
        </div>
        <div *ngIf="forgotPasswordForm.hasError('match')" class="text-danger">Passwords do not match</div>
        </div>
     
      <div class="d-flex justify-content-between mt-3">
        <button type="button" (click)="closePop()" class="w-25 btn btn-secondary ">Close</button>
        <button type="submit" class="w-25 btn btn-primary" style="margin-right: 70px;" [disabled]="forgotPasswordForm.invalid">Submit</button>
      </div>
    </form>
   
  </div>
</div>