/* Container styling */
.image-container {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 300px;            /* Adjust height as needed */
    border: 1px solid #ccc;   /* Optional border to visualize the container */
  }
  
  /* Image styling */
  .centered-image {
    width: 100px; /* or any desired size */
    height: 100px; /* or any desired size */
  }
.data{
    border: 1px solid black;
}  
.input-group {
    position: relative;
  }
  
  .input-group-append {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  