/* Style for Scroll to Top Button */
.scroll-to-top-btn {
  position: fixed;
  bottom: 30px;  /* Position the button 30px from the bottom */
  right: 30px;   /* Position the button 30px from the right */
  background: transparent;  /* No background */
  color: black;  /* Color for the icon */
  font-size: 36px;  /* Icon size */
  border: none;  /* No border */
  padding: 0;  /* Remove padding */
  cursor: pointer;
  display: none;  /* Hidden by default */
  z-index: 1000;  /* Ensure the button is on top of other elements */
}

/* Show button when scrolled down */
.show-scroll-btn {
  display: block !important;  /* Override the default display:none */
}

/* Style for the icon inside the button */
.scroll-to-top-btn i {
  font-size: 36px;  /* Size of the icon */
  color: black;  /* Change icon color to black */
}
/* .popup-overlay{
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(10px);
  
}
.popup-content{
background-color: rgb(230, 228, 228);
width: 300px;
height: 200px;
text-align: center;
border: 1px solid black;
border-radius: 5px;
position: relative;

} */