<!-- <app-header></app-header> -->
<router-outlet></router-outlet>

<app-chatbot></app-chatbot>


<!-- Scroll to Top Button -->
<button id="scrollToTopBtn" class="scroll-to-top-btn" (click)="scrollToTop()">
  <i class="bi bi-arrow-up-circle-fill"></i> <!-- Bootstrap icon for upward arrow -->
</button>


<!-- <app-footer></app-footer> -->
<!-- <div *ngIf="isOpen" class="popup-overlay">
  <div class="popup-content">
    <h1>hi</h1>
    <button (click)="closePop()">close</button>
  </div>
</div> -->

<!-- <button (click)="openPop()">open</button> -->

