/* Style for Scroll to Top Button */
.scroll-to-top-btn {
  position: fixed;
  bottom: 30px;  /* Position the button 30px from the bottom */
  right: 30px;   /* Position the button 30px from the right */
  background: transparent;  /* No background */
  color: black;  /* Color for the icon */
  font-size: 36px;  /* Icon size */
  border: none;  /* No border */
  padding: 0;  /* Remove padding */
  cursor: pointer;
  display: none;  /* Hidden by default */
  z-index: 1000;  /* Ensure the button is on top of other elements */
}

/* Show button when scrolled down */
.show-scroll-btn {
  display: block !important;  /* Override the default display:none */
}

/* Style for the icon inside the button */
.scroll-to-top-btn i {
  font-size: 36px;  /* Size of the icon */
  color: black;  /* Change icon color to black */
}
