<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card" style="width: 100%; max-width: 500px;">
    <div class="card-body">
      <div class="card-title text-center mb-4" style="background-color: #8347ad;">
        <h2 class="text-center mb-4">Login</h2>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
          <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger">
            <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required</div>
            <div *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address</div>
          </div>
        </div>

        <!-- Password Input Field -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Enter your password"
            required>
          <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">
            <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required</div>
          </div>
        </div>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam exercitationem obcaecati odit aperiam hic rem nemo natus quia et voluptas? Vitae quidem cumque est, sunt quod, asperiores odit doloribus, dolore magnam necessitatibus aliquid voluptate?</h2>
        <div style="float: right;">
          <button type="submit" class="btn btn-primary btn-block mt-3 m-2" style="background-color: #8347ad;"
            (click)="clear()">Clear</button>
          <button type="submit" (click)="submit()" class="btn btn-primary btn-block mt-3 m-2"
            style="background-color: #8347ad;">Submit</button>
        </div>

      </form>
    </div>
    <div class="text-center mt-1">
      <p>Don't have an account? <a href="/signup" style="color: #8347ad;">Sign up here</a></p>
    </div>
  </div>
</div>