<app-admin-header></app-admin-header>

<!-- ========== section start ========== -->
<section class="section" id="section">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title">
            <h2>Admin Profile</h2>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <div class="row justify-content-center">
      <!-- Displaying Profile Details Initially -->
      <div class="col-lg-6">
        <div class="card-style settings-card-1 mb-30">
          <div
            class="title mb-30 d-flex justify-content-between align-items-center"
          >
            <h6>My Profile</h6>
            <button
              class="border-0 bg-transparent"
              id="edit-btn"
              (click)="showform()"
            >
              <i class="lni lni-pencil-alt"></i> Edit Profile
            </button>
          </div>
          <div id="profile-details">
            <!-- Admin Details View -->
            <div class="profile-info">
              <div class="d-flex align-items-center mb-30">
                <div class="profile-meta">
                  <h5 class="text-bold text-dark mb-10">{{ admin[0].name }}</h5>
                  <p class="text-sm text-gray">{{ admin[0].mail }}</p>
                </div>
              </div>

              <!-- Displaying the additional details: Company, Bio, Address -->
              <div class="input-style-1">
                <label>Company</label>
                <p>{{ admin[0].company }}</p>
              </div>

              <div class="input-style-1">
                <label>Address</label>
                <p>{{ admin[0].address }}</p>
              </div>

              <div class="input-style-1">
                <label>Bio</label>
                <p>{{ admin[0].bio }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="formtoedit">
      <!-- Editable Profile Form (Pop-up Modal) -->
      <div *ngIf="formshow" class="popup-overlay">
        <div class="popup-form">
          <!-- Close Button -->
          <button
            class="close-btn"
            (click)="showform()"
            style="color: black; font-weight: bolder; font-size: x-large"
          >
            X
          </button>
          <br />
          <div class="card-style settings-card-2 mb-30">
            <div class="title mb-30">
              <h6>Edit Profile</h6>
            </div>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-12">
                  <div class="input-style-1">
                    <label>Full Name</label>
                    <input
                      type="text"
                      formControlName="name"
                      placeholder="Full Name"
                    />
                    <div
                      *ngIf="
                        f['name'].invalid &&
                        (f['name'].dirty || f['name'].touched)
                      "
                      class="error"
                    >
                      <div *ngIf="f['name']['errors']?.['required']">
                        Full Name is required.
                      </div>
                      <div *ngIf="f['name']['errors']?.['minlength']">
                        Full Name must be at least 3 characters long.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="input-style-1">
                    <label>Email</label>
                    <input
                      type="email"
                      formControlName="email"
                      placeholder="Email"
                      readonly
                    />
                    <div
                      *ngIf="
                        f['email'].invalid &&
                        (f['email'].dirty || f['email'].touched)
                      "
                      class="error"
                    >
                      <div *ngIf="f['email']['errors']?.['required']">
                        Email is required.
                      </div>
                      <div *ngIf="f['email']['errors']?.['email']">
                        Please enter a valid email address.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="input-style-1">
                    <label>Company</label>
                    <input
                      type="text"
                      formControlName="company"
                      placeholder="Company"
                    />
                    <div
                      *ngIf="
                        f['company'].invalid &&
                        (f['company'].dirty || f['company'].touched)
                      "
                      class="error"
                    >
                      <div *ngIf="f['company']['errors']?.['required']">
                        Company is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="input-style-1">
                    <label>Address</label>
                    <input
                      type="text"
                      formControlName="address"
                      placeholder="Address"
                    />
                    <div
                      *ngIf="
                        f['address'].invalid &&
                        (f['address'].dirty || f['address'].touched)
                      "
                      class="error"
                    >
                      <div *ngIf="f['address']['errors']?.['required']">
                        Address is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="input-style-1">
                    <label>About Me</label>
                    <textarea
                      formControlName="bio"
                      placeholder="Type here"
                      rows="6"
                    ></textarea>
                    <div
                      *ngIf="
                        f['bio'].invalid && (f['bio'].dirty || f['bio'].touched)
                      "
                      class="error"
                    >
                      <div *ngIf="f['bio']['errors']?.['required']">
                        Bio is required.
                      </div>
                      <div *ngIf="f['bio']['errors']?.['minlength']">
                        Bio must be at least 10 characters long.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-style-1">
                    <label>Password</label>
                    <div class="password-container">
                      <input
                        [type]="passwordVisible ? 'text' : 'password'"
                        formControlName="password"
                        placeholder="Enter your password"
                      />

                      <!-- Eye icon to toggle password visibility -->
                      <i
                        class="fa"
                        [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"
                        (click)="passwordVisible = !passwordVisible"
                        style="cursor: pointer"
                      >
                      </i>
                    </div>

                    <!-- Validation error message -->
                    <div
                      *ngIf="
                        f['password'].invalid &&
                        (f['password'].dirty || f['password'].touched)
                      "
                      class="error"
                    >
                      <div *ngIf="f['password'].errors?.['required']">
                        Password is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <button
                    class="main-btn primary-btn btn-hover"
                    id="updatep"
                    [disabled]="profileForm.invalid"
                  >
                    Update Profile
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Editable Profile Form (Pop-up Modal) -->
    </section>
  </div>
  <!-- End container -->
</section>
<!-- ========== section end ========== -->
