<header class="header">
  <!-- Logo and Company Name Section -->
  <div class="header-top">
    <div class="logo-image">
      <img
        src="logo3.png"
        alt="Logo Image"
      />
    </div>
    <div class="company-name">
      <span>Where Test Drives Meet Dreams!</span>
    </div>
    <div class="user-options">
      <span class="privacy-policy">Privacy Policy</span>
      <a routerLink="/location" class="user-location">
        <i class="fas fa-map-marker-alt"></i> Location
      </a>


      @if (name=="") {
<div>
      <!-- Profile Button with Click Event to Toggle Box -->
      <span class="user-profile" (click)="toggleProfileBox()">
        <i class="fas fa-user"></i> Profile
        </span>

      <!-- Profile Box (Login/Signup Box) -->
      <div *ngIf="isProfileBoxVisible" class="profile-box">
        <div class="profile-arrow"></div>  <!--Arrow pointing to profile -->
         <h4>Login to your RNM Account</h4>
        <button (click)="onLogin()">Login</button>
        <button (click)="onSignup()">Sign Up</button>
      </div>
    </div>
  }

    @if (name!="") {
    <div>
      <!-- Profile Button with Click Event to Toggle Box -->
      <span class="user-profile" (click)="toggleProfileBox()">
        <i class="fas fa-user"></i>
         {{name}}
        <!-- <h1>{{name}}</h1> -->
      </span>

      <!-- Profile Box (Login/Signup Box) -->
      <div *ngIf="isProfileBoxVisible" class="profile-box">
        <div class="profile-arrow"></div>  <!--Arrow pointing to profile -->
         <h4>Login to your RNM Account</h4>
        <button (click)="Onlogout()">Logout</button>
        </div>
    </div>
  }
</div>
</div>
  <!-- Horizontal Divider Line Below -->
  <div class="divider"></div>

  <!-- Navigation Bar -->
  <nav class="nav">
    
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#booking">Booking</a></li>
      <li><a href="#service-list">Service</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="/dashboard">Admin</a></li>

    </ul>
  </nav>
</header>
