.navbar-brand img {
  max-height: 50px;
}
.nav-link {
  color: #000 !important;
}
.nav-link:hover {
  text-decoration: underline;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays above other content */
}

.navbar .nav-link {
  color: #f8f9fa !important; /* Ensures all links are light-colored */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.navbar .nav-link:hover {
  color: #007bff !important;
}
