
  <app-navbar></app-navbar>
  <header class="header" style="background-color: rgb(82, 147, 231); height: 12vh;">
    <div class="container-fluid">
        <div class="row d-flex justify-content-end">
            <div class="col-auto">
                <!-- profile start -->
                <div class="profile-box ml-15">
                    <button class="bg-transparent border-0" type="button" id="profile" aria-expanded="false">
                        <div class="profile-info d-flex align-items-center">
                            <div class="image">
                                <img src="https://static.vecteezy.com/system/resources/previews/009/636/683/non_2x/admin-3d-illustration-icon-png.png" alt="image" height="48px" />
                            </div>
                            <div class="text ml-2">
                                <h6 class="fw-500 text-white">MyRNM Admin</h6>
                                <!-- <p>Admin</p> -->
                            </div>
                        </div>
                    </button>
                </div>
                <!-- profile end -->
            </div>
        </div>
    </div>
</header>

  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"> -->
    <!-- <div class="container-fluid"> -->
      <!-- <a class="navbar-brand d-flex align-items-center" routerLink="/home"> -->
        <!-- <img
            src="assets/images/logo.png"
            alt="Renault Logo"
            class="me-2"
            height="50"
          /> -->
        <!-- <span class="fw-bold text-light">MyRNM Admin</span>
      </a>
    
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
         
          <li class="nav-item">
            <a class="nav-link fw-bold text-light" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-light" routerLink="/dashboard"
              >Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-light" routerLink="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-light" routerLink="/bookings"
              >Bookings</a
            >
          </li>
  
          <li class="nav-item">
            <a class="nav-link fw-bold text-light" routerLink="/feedback"
              >User Feedback</a
            >
          </li>
  
          <li class="nav-item">
            <a class="nav-link fw-bold text-light" routerLink="/showrooms"
              >Showrooms</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
   -->